# Build and documentation.
build/
docs/_site
docs/Gemfile.lock
*.css
*.html

# Lexers.
lexers

# Modules.
modules/autoupdate
modules/debugger
modules/export
modules/file_diff
modules/format
modules/lsp
modules/lua_repl
modules/ollama
modules/open_file_mode
modules/scratch
modules/spellcheck

# Profiling, coverage, and test data.
luacov.*.out
test.log
