# Binaries.
src/*.o
src/*.tar.gz
src/*.tgz
src/*.zip
/textadept
/textadept-curses

# Lexers.
lexers/

# Dependencies.
src/cdk/
src/gtdialog/
src/lexilla/
src/LexLPeg.*
src/lua/
src/scintilla/
src/termkey/
