/* Copyright 2012 Mitchell mitchell.att.foicica.com. */

* {
  border: 0 solid #999999;
  margin: 0;
  padding: 0;
}

a {
  color: #1a66b3;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
a:visited { color: #661a66; }

blockquote { margin-left: 1em; }

body {
  background-color: #e6e6e6;
  color: #333333;
}

code {
  font-size: larger;
}

h1 { margin: 0 0 1em 0; }
h2, h3, h4, h5, h6 { margin: 1em 0 1em 0; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.8em; }

hr {
  border: 1px solid #cccccc;
  margin: 1em 0 1em 0;
}

li > code, p > code { color: #808080; }

pre {
  color: #808080;
  margin: 0 2.5em 0 2.5em;
}

table, th, td {
  border-width: 1px;
  border-collapse: collapse;
  margin-left: 1em;
  padding: 0.25em;
}

ul { list-style-type: disc; }

#content { font-size: 1.2em; }

#header h1 {
  background-color: #cccccc;
  border-width: 0 0 1px 0;
  padding: 0.25em;
  margin: 0;
}
#header ul {
  border-width: 0 0 1px 0;
  list-style: none;
  margin-bottom: 1.5em;
  padding: 0.25em;
}
#header li {
  color: #808080;
  display: inline;
}

#nav {
  border-width: 1px 1px 1px 0;
  float: left;
  margin-bottom: 1.5em;
  width: 10em;
}
#nav ul {
  list-style-type: none;
  margin: 0.25em 0.25em 0.25em 0.5em;
}
#nav ul ul { margin: 0 0.25em 0 1em; }

#toc {
  border-width: 1px 0 1px 1px;
  float: right;
  margin: 0 0 1em 1em;
}
#toc ul {
  color: #808080;
  margin: 0.25em 0.25em 0.25em 1.25em;
}
#toc ul ul { margin: 0 0.25em 0 1em; }

#nav h2, #toc h2 {
  border-width: 0 0 1px 0;
  background-color: #cccccc;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0.25em;
}

#main { margin-left: 11em; }
#main p { margin: 1em; }
#main ol, #main ul { margin-left: 2.5em; }
#main ol p, #main ul p { margin-left: 0; }

#footer {
  background-color: #cccccc;
  border-width: 1px 0 0 0;
  clear: both;
  padding: 0.25em;
  margin-top: 1.5em;
}
