/* Copyright 2012-2020 Mitchell mitchell.att.foicica.com. */

* {
  border: 0 solid #a6a6a6;
  margin: 0;
  padding: 0;
}

a {
  color: #1a66b3;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
a:visited { color: #661a66; }

body {
  background-color: #f2f2f2;
  color: #333333;
}

code { font-size: 1.2em; }

del { color: #994d4d; }

h1 { margin: 0 0 1em 0; }
h2, h3, h4, h5, h6 { margin: 1em 0 1em 0; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }

hr {
  border: 1px solid #d9d9d9;
  border-width: 1px 0 0 0;
  margin: 1em 0 1em 0;
}

input, textarea {
  border-width: 1px;
  font-size: 1em;
}

ins { color: #4d994d; }

li > code, p > code, em > code, td > code { color: #808080; }

pre {
  color: #808080;
  margin: 0 2.5em 0 2.5em;
  white-space: pre-wrap;
}

table, th, td {
  border-width: 1px;
  border-collapse: collapse;
  margin-left: 1em;
  padding: 0.25em;
}

#content {
  border-width: 0 1px 0 1px;
  font-size: 1.2em;
  margin: 0 auto 0 auto;
  max-width: 1000px;
}

#header h1 {
  background-color: #d9d9d9;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 0.25em;
}
#header img { vertical-align: text-bottom; }
#header ul, #header p {
  border-width: 0 0 1px 0;
  margin-bottom: 1.5em;
  padding: 0.25em;
}
#header ul { list-style: none; }
#header li {
  color: #808080;
  display: inline;
}
#header li form { display: inline; }

#main { margin-left: 1em; }
#main dl, #main p { margin: 1em; }
#main dd, #main ol, #main ul { margin-left: 2.5em; }
#main ol p, #main ul p { margin-left: 0; }

#footer {
  background-color: #d9d9d9;
  border-width: 1px 0 1px 0;
  clear: both;
  padding: 0.25em;
  margin-top: 1.5em;
}
