/* Copyright 2012-2024 Mitchell. See LICENSE. */

* {
	border: 0 solid #999999;
	margin: 0;
	padding: 0;
}

a {
	color: #0066cc;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
a:visited { color: #990099; }

body {
	background-color: #ffffff;
	color: #1a1a1a;
}

code { font-size: 1.2em; }

del { color: #990000; }

h1 { margin: 0 0 1em 0; }
h2, h3, h4, h5, h6 { margin: 1em 0 1em 0; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }

hr {
	border: 1px solid #cccccc;
	border-width: 1px 0 0 0;
	margin: 1em 0 1em 0;
}

input, textarea {
	border-width: 1px;
	font-size: 1em;
}

ins { color: #009900; }

li > code, p > code, em > code, td > code { color: #666666; }

pre {
	color: #666666;
	margin: 0 2.5em 0 2.5em;
	white-space: pre-wrap;
}

table, th, td {
	border-width: 1px;
	border-collapse: collapse;
	margin-left: 1em;
	padding: 0.25em;
}

#content {
	border-width: 0 1px 0 1px;
	font-size: 1.2em;
	margin: 0 auto 0 auto;
	max-width: 1000px;
}

#content img { max-width: 100%; }

#header h1 {
	background-color: #cccccc;
	border-width: 0 0 1px 0;
	margin: 0;
	padding: 0.25em;
}
#header img { vertical-align: text-bottom; }
#header ul, #header p {
	border-width: 0 0 1px 0;
	margin-bottom: 1.5em;
	padding: 0.25em;
}
#header ul { list-style: none; }
#header li {
	color: #666666;
	display: inline;
}
#header li form { display: inline; }

#main { margin-left: 1em; }
#main dl, #main p { margin: 1em; }
#main dd, #main ol, #main ul { margin-left: 2.5em; }
#main ol p, #main ul p { margin-left: 0; }

#footer {
	background-color: #cccccc;
	border-width: 1px 0 1px 0;
	clear: both;
	padding: 0.25em;
	margin-top: 1.5em;
}
