<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as</string>
				<string>asc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Actionscript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adb</string>
				<string>ads</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ada source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>g</string>
				<string>g4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ANTLR source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ans</string>
				<string>inp</string>
				<string>mac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>APDL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>applescript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Applescript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asm</string>
				<string>ASM</string>
				<string>s</string>
				<string>S</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ASM source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asa</string>
				<string>asp</string>
				<string>hta</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ASP source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>au3</string>
				<string>a3x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AutoIt source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>awk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AWK source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bat</string>
				<string>cmd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Batch source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bib</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BibTeX source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>boo</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Boo source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>C# source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>c</string>
				<string>cc</string>
				<string>C</string>
				<string>cpp</string>
				<string>cxx</string>
				<string>c++</string>
				<string>h</string>
				<string>hh</string>
				<string>hpp</string>
				<string>hxx</string>
				<string>h++</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>C/C++ source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ck</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChucK source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cmake</string>
				<string>cmake.in</string>
				<string>ctest</string>
				<string>ctest.in</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CMake source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>coffee</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CoffeeScript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CSS source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cu</string>
				<string>cuh</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CUDA source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d</string>
				<string>di</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>D source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dart</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Dart source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>desktop</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Desktop source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>diff</string>
				<string>patch</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>diff source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dot source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>e</string>
				<string>eif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Eiffel source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ex</string>
				<string>exs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Elixir source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erl</string>
				<string>hrl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Erlang source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>F# source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fish</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Fish source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>forth</string>
				<string>frt</string>
				<string>fs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Forth source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>f</string>
				<string>for</string>
				<string>ftn</string>
				<string>fpp</string>
				<string>f77</string>
				<string>f90</string>
				<string>f95</string>
				<string>f03</string>
				<string>f08</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Fortran source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>g</string>
				<string>gd</string>
				<string>gi</string>
				<string>gap</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gap source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>po</string>
				<string>pot</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gettext source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>feature</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gherkin source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glslf</string>
				<string>glslv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GLSL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dem</string>
				<string>plt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GNUPlot source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>go</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Go source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>groovy</string>
				<string>gvy</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Groovy source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gtkrc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gtkrc source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Haskell source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
				<string>shtm</string>
				<string>shtml</string>
				<string>xhtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Icon source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>idl</string>
				<string>odl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IDL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inf</string>
				<string>ni</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Inform source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cfg</string>
				<string>cnf</string>
				<string>inf</string>
				<string>ini</string>
				<string>reg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ini source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>io</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Io source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bsh</string>
				<string>java</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Java source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>jsfl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Javascript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSON source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jsp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSP source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bbl</string>
				<string>dtx</string>
				<string>ins</string>
				<string>ltx</string>
				<string>tex</string>
				<string>sty</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LaTeX source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>less</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LESS source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lily</string>
				<string>ly</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LilyPond source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cl</string>
				<string>el</string>
				<string>lisp</string>
				<string>lsp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Lisp source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>litcoffee</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Literate Coffeescript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lua</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Lua source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>GNUmakefile</string>
				<string>iface</string>
				<string>mak</string>
				<string>makefile</string>
				<string>Makefile</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Makefile source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Markdown source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nemerle source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nim</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nim source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsh</string>
				<string>nsi</string>
				<string>nsis</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSIS source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
				<string>mm</string>
				<string>objc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Objective C source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>caml</string>
				<string>ml</string>
				<string>mli</string>
				<string>mll</string>
				<string>mly</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OCaml source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dpk</string>
				<string>dpr</string>
				<string>p</string>
				<string>pas</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pascal source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>al</string>
				<string>perl</string>
				<string>pl</string>
				<string>pm</string>
				<string>pod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Perl source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inc</string>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>phtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PHP source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pike</string>
				<string>pmod</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Pike source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PKGBUILD</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PKGBUILD source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
				<string>ps</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Postscript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps1</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PowerShell source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>prolog</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Prolog source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>props</string>
				<string>properties</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Properties source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sc</string>
				<string>py</string>
				<string>pyw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Python source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>R</string>
				<string>Rout</string>
				<string>Rhistory</string>
				<string>Rt</string>
				<string>Rout.save</string>
				<string>Rout.fail</string>
				<string>S</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>R source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>r</string>
				<string>reb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>REBOL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rst</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>reST source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orx</string>
				<string>rex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rexx source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erb</string>
				<string>rhtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RHTML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Rakefile</string>
				<string>rake</string>
				<string>rb</string>
				<string>rbw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ruby source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rust source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sass</string>
				<string>scss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sass CSS source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scala</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scala source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sch</string>
				<string>scm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Scheme source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bash</string>
				<string>bashrc</string>
				<string>bash_profile</string>
				<string>configure</string>
				<string>csh</string>
				<string>sh</string>
				<string>zsh</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Shell source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>changes</string>
				<string>st</string>
				<string>sources</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Smalltalk source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sno</string>
				<string>SNO</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SNOBOL4 source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ddl</string>
				<string>sql</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SQL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
				<string>tk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tcl source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>texi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Texinfo source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>toml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TOML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vala</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Vala source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vcf</string>
				<string>vcard</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>vCard source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>v</string>
				<string>ver</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Verilog source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vh</string>
				<string>vhd</string>
				<string>vhdl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VHDL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asa</string>
				<string>bas</string>
				<string>cls</string>
				<string>ctl</string>
				<string>dob</string>
				<string>dsm</string>
				<string>dsr</string>
				<string>frm</string>
				<string>pag</string>
				<string>vb</string>
				<string>vba</string>
				<string>vbs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Visual Basic source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wsf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WSF source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dtd</string>
				<string>svg</string>
				<string>xml</string>
				<string>xsd</string>
				<string>xsl</string>
				<string>xslt</string>
				<string>xul</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xtend</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Xtend source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>YAML source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>textadept_osx</string>
	<key>CFBundleIconFile</key>
	<string>textadept.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.textadept</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Textadept</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.0 beta</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
